/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(140, 40%, 48%);
  --first-color-alt: hsl(140, 40%, 44%);
  --title-color: hsl(140, 4%, 12%);
  --text-color: hsl(140, 4%, 40%);
  --text-color-light: hsl(140, 4%, 64%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 95%);
  --shadow-img: drop-shadow(0 8px 12px hsla(0, 0%, 0%, .2));
  --filter-img: invert(1);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Cherry Bomb One", cursive;
  --biggest-font-size: 3rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5.5rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color .4s;
}

input,
button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
  line-height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/


/*========== Variables Dark Theme ==========*/



/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--big-font-size);
  font-family: var(--second-font);
  text-align: center;
  margin-bottom: 1rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow .4s, background-color .4s;
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--title-color);
}

.nav__logo{
  font-family: var(--second-font);
  font-size: var(--h3-font-size);
  column-gap: .25rem;
}

.nav__logo img{
  width: 1.25rem;
}

.nav__toggle,
.nav__close{
  font-size: 1.25rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, .1);
    padding-block: 4.5rem;
    transition: top .4s;
  }
}

.nav__list{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2.5rem;
}

.nav__link{
  color: var(--title-color);
  font-weigth: var(--font-semi-bold);
  transition: color .4s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav__img-1,
.nav__img-2{
  filter: var(--filter-img);
  position: absolute;
}

.nav__img-1{
  width: 150px;
  top: -2.5rem;
  left: -3.5rem;
  rotate: 180deg;
}

.nav__img-2{
  width: 50px;
  right: 2.5rem;
  bottom: 2.5rem;
}

/* Show menu */
.show-menu{
  top: 0;
}

/* Add shadow header */
.shadow-header{
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, .1);
}

/* Active link */


/*=============== HOME ===============*/
.home{
  position: relative;
}

.home__container{
  padding-top: 2.5rem;
  row-gap: 2rem;
}

.home__data{
  position: relative;
  text-align: center;
}

.home__title{
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  margin-bottom: 1rem;
}

.home__description{
  margin-bottom: 2rem;
}

.home__fruit,
.home__branch{
  filter: var(--filter-img);
  position: absolute;
}

.home__fruit{
  width: 40px;
  top: 6.7rem;
  left: 1rem;
}

.home__img{
  width: 320px;
  justify-self: center;
  filter: var(--shadow-img);
}

.home__branch{
  width: 120px;
  right: -3rem;
  bottom: 15rem;
}

/*=============== BUTTON ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  padding: 1rem 2rem;
  border-radius: 4rem;
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  transition: box-shadow .4s;
}

.button:hover{
  box-shadow: 0 8px 24px hsla(140, 40%, 48%, .3);
}

/*=============== ENJOY ===============*/
.enjoy__container{
  padding-top: 2rem;
  grid-template-columns: 240px;
  justify-content: center;
  row-gap: 2.5rem;
}

.enjoy__card{
  position: relative;
  padding-block: 1.5rem 2.5rem;
  text-align: center;
}

.enjoy__img{
  width: 120px;
  margin: 0 auto .75rem;
  filter: var(--shadow-img);
  transition: transform .4s;
}

.enjoy__bg{
  width: 100%;
  height: 100%;
  background-color: var(--container-color);
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: skewY(4deg);
  transition: background-color .4s;
}

.enjoy__title{
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  margin-bottom: .25rem;
}

.enjoy__subtitle{
  font-size: var(--small-font-size);
}

.enjoy__card:hover .enjoy__img{
  transform: translateY(-.3rem);
}

/*=============== ABOUT ===============*/


/*=============== POPULAR ===============*/


/*=============== JOIN ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
